<form [formGroup]="form">

<ion-list>
  <ion-item>
    <ion-label>Area</ion-label>
    <ion-select placeholder="Selecciona" okText="Aceptar" cancelText="Cancelar" (ionChange)="getarea($event)" formControlName="evento" >
      <ion-select-option *ngFor="let evento of eventos; let i=index" [value]="evento">{{evento.name}}</ion-select-option>
      
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Subarea</ion-label>
    <ion-select  okText="Aceptar" cancelText="Cancelar" placeholder="Selecciona" (ionChange)="getSubarea($event)" formControlName="subareaID">
      <ion-select-option *ngFor="let subarea of subareas; let i=index" [value]="subarea.subareaID">{{subarea.subarea}}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

</form>