<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start" size="large" (click)="back()">
           <ion-icon name="back" size="large"></ion-icon> 
           <label style="padding-top: 13px;">Regresar</label> 
        </ion-buttons>
      <ion-buttons slot="end">
        <ion-button >
            <ion-icon name="contact"></ion-icon>
            {{usuario}}
          </ion-button>
      </ion-buttons>
    </ion-toolbar>
     
      <ion-toolbar color="tertiary">
          <ion-buttons slot="end">
            <ion-button (click)="go('hallazgos')">
              Capturar
            </ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="go('principal')" >
              Consultar
            </ion-button>
            <ion-button (click)="go('salir')">
                Salir
              </ion-button>
          </ion-buttons>
      </ion-toolbar>
  </ion-header>

  <ion-content padding center text-center class="no-scroll" class="background-image" >
    <style>
     .background-image{
   --background: url(../assets/img/degradado.jpg) 0 0/100% 100% no-repeat;}
    </style>
<app-avance [hallazgoID]="hallazgoID" [avanceID]="avanceID" [permiso]="permiso" (updateStatus)="recargarPage($event)"></app-avance>
<app-ficha-hallazgo [hallazgo]="hallazgo" [whereID]="whereID" [plataformaID]="plataformaID" [permiso]="permiso"></app-ficha-hallazgo>

       <ion-chip color="light">
        <ion-icon name="photos"></ion-icon>        
        <ion-label style="color: black">Antes</ion-label>
      </ion-chip>
      <ion-slides [options]="sliderOpts" [pager]="true" class="spider">
        <ion-slide *ngFor="let img of evidenciasBefore">
          <img src="{{img.imagen}}" tappable (click)="openPreview(img.imagen)">
        </ion-slide>
      </ion-slides>

      <ion-chip color="light">
          <ion-icon name="photos"></ion-icon>        
          <ion-label style="color: black">Despues</ion-label>
      </ion-chip>
          <ion-grid>
              <ion-row>
                <ion-col size="6" size-lg >
                    <ion-button expand="full"color="primary" (click)="getPicture(1)">
                        <ion-icon slot="end" name="camera" class="only-icon"></ion-icon>
                        
                      </ion-button >
                </ion-col>
                <ion-col size="6" size-lg>
                    <ion-button expand="full" color="primary" (click)="getPicture(0)">
                        <ion-icon slot="end" name="folder" class="only-icon"></ion-icon>
                    </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
    
     
      <ion-slides [options]="sliderOpts" [pager]="true" *ngIf="!noImages; else elseBlock" class="spider">
          <ion-slide *ngFor="let img2 of evidenciasAfter">
            <img src="{{img2.imagen}}" tappable (click)="openPreview(img2.imagen)">
          </ion-slide>
      </ion-slides>
      
      <ng-template #elseBlock>
        <div class="noFound"><img src="assets\img\notImage.png"></div>
      </ng-template>
   
      <app-comentario (comentarioOutput)="updateComentario($event)" [comentario]="comentario"></app-comentario>

</ion-content>