<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start" size="large" (click)="back()">
            <ion-icon name="arrow-back" size="large">Regresar</ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon slot="icon-only" name="contact"></ion-icon>
            <ion-label class="usuario">{{usuario}}</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
     
      <ion-toolbar color="tertiary">
          <ion-buttons slot="end">
            <ion-button (click)="go('hallazgos')">
              Subir
            </ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="go('principal')" >
              Buscar
            </ion-button>
            <ion-button (click)="go('salir')">
                Salir
              </ion-button>
          </ion-buttons>
      </ion-toolbar>

  </ion-header>

<ion-content>
<app-avance [hallazgoID]="hallazgoID" [avanceID]="avanceID"></app-avance>
<app-ficha-hallazgo [hallazgo]="hallazgo"></app-ficha-hallazgo>
<!--https://www.youtube.com/watch?v=cH33gmOHJMU-->

       <ion-chip color="light">
        <ion-icon name="photos"></ion-icon>        
        <ion-label style="color: black">Antes</ion-label>
      </ion-chip>
      <ion-slides [options]="sliderOpts" [pager]="true" class="spider">
        <ion-slide *ngFor="let img of evidenciasBefore">
          <img src="{{img.imagen}}" tappable (click)="openPreview(img.imagen)">
        </ion-slide>
      </ion-slides>

      <ion-chip color="light">
          <ion-icon name="photos"></ion-icon>        
          <ion-label style="color: black">Despues</ion-label>
      </ion-chip>
      
          <ion-grid>
          
              <ion-row>
                <ion-col size="6" size-lg >
                    <ion-button expand="full"color="primary" (click)="getPicture(1)">
                        <ion-icon slot="end" name="camera" class="only-icon"></ion-icon>
                        
                      </ion-button >
                </ion-col>
                <ion-col size="6" size-lg>
                    <ion-button expand="full" color="primary" (click)="getPicture(0)">
                        <ion-icon slot="end" name="folder" class="only-icon"></ion-icon>
                    </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
    
     
      <ion-slides [options]="sliderOpts" [pager]="true" *ngIf="!noImages" class="spider">
          <ion-slide *ngFor="let img2 of evidenciasAfter">
            <img src="{{img2.imagen}}" tappable (click)="openPreview(img2.imagen)">
          </ion-slide>
      </ion-slides>

    <div class="noFound"><img src="assets\img\notImage.png" *ngIf="noImages"></div>
   
      <app-comentario (comentarioOutput)="updateComentario($event)" [comentario]="comentario"></app-comentario>

</ion-content>


