<ion-item   class="item-content item_color" >
  
  
  <ion-card *ngFor="let item of eventos" >
      <ion-item class="nothing">  
        <ion-icon name="clipboard" slot="start" (click)="obtener_evento(item.idEvento)"></ion-icon>
        <ion-label (click)="obtener_evento(item.idEvento)">Evento abierto</ion-label>  
        <ion-badge slot="end" color="danger" (click)="deleteData(item.idEvento)"><ion-icon name="close"></ion-icon></ion-badge>
      </ion-item> 

    <ion-card-content >
      <div (click)="obtener_evento(item.idEvento)" style="padding-left: 17px;padding-bottom: 10px">
             <h2> Hallazgos Capturados:<ion-badge item-end>{{item.hallazgos}}</ion-badge></h2>
      </div>
      <div style="padding: 5px" *ngIf="item.hallazgos>=1" (click)="subFinish($event,item.idEvento)">
        
      <ion-button color="success"  expand="full">Subir hallazgos <ion-icon name="cloud-upload" ></ion-icon></ion-button>
    </div>

    </ion-card-content>
  </ion-card>
  
  <ion-card *ngIf="no_eventos==0">
      <ion-item >
        <ion-label>No has iniciado ningún evento todavía</ion-label>
      </ion-item>
      <ion-card-content (click)="deleteData(item.idEvento)">
      </ion-card-content>
    </ion-card>
</ion-item>