<ion-toolbar class="user-profile">

    <ion-grid>
      <ion-row>
        <ion-col col-4>
            <div class="user-avatar">
              <img src="../assets/img/boss.png">
            </div>
        </ion-col>
        <ion-col padding-top col-8>
          <h2 ion-text class="no-margin bold text-white">
           Bienvenido
          </h2>
          <span ion-text color="light">{{usuario}} </span>
        </ion-col>
      </ion-row>

      <ion-row no-padding class="other-data">
        <ion-col no-padding class="column">
          <button ion-button icon-left small full color="light" menuClose disabled>
            <ion-icon name="contact"></ion-icon>
            Usuario
          </button>
        </ion-col>
        <ion-col no-padding class="column">
          <button ion-button icon-left small full color="light" menuClose (click)="salir()">
            <ion-icon name="log-out"></ion-icon>
            Log Out
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>