<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start" size="large" (click)="back()">
            <ion-icon name="arrow-back" size="large">Regresar</ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon slot="icon-only" name="contact"></ion-icon>
            <ion-label class="usuario">{{usuario}}</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
     
      <ion-toolbar color="tertiary">
          <ion-buttons slot="end">
            <ion-button (click)="go('hallazgos')">
              Subir
            </ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="go('principal')" >
              Buscar
            </ion-button>
            <ion-button (click)="go('salir')">
                Salir
              </ion-button>
          </ion-buttons>
      </ion-toolbar>
  </ion-header>
  
  <ion-content>
      {{latHallazgo}}
    <agm-map [zoom]="18" [style.height.px]="height" [latitude]="latMyUbi" [longitude]="lngMyUbi" [mapDraggable]="'true'" [backgroundColor]="'blue'">
       <agm-marker [latitude]="latMyUbi" [longitude]="lngMyUbi" >
       </agm-marker>
       <agm-marker class="color_marker" [label]="'HALLAZGO'" [latitude]="latHallazgo" [longitude]="lngHallazgo"  (markerClick)="markerClick($event)" >       
          <agm-info-window> <h1>  Ubicacion del hallazgo</h1><ion-button color="primary" expand="block" (click)="metodo(hallazgoID)">Ver detalles</ion-button>
            
          </agm-info-window>
      </agm-marker>
    </agm-map>

  </ion-content>