<ion-toolbar color="tertiary">
    <ion-buttons slot="start" size="large" (click)="back()">
        <ion-icon name="arrow-back" size="large">Regresar</ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="contact"></ion-icon>
        <ion-label class="usuario">{{usuario}}</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
 

  <ion-toolbar color="tertiary">
      <ion-buttons slot="end">
        <ion-button>
          Subir
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button >
          Buscar
        </ion-button>
        <ion-button >
            Salir
          </ion-button>
      </ion-buttons>
      
    </ion-toolbar>