<ion-header>
    <ion-toolbar>
        <ion-menu-button></ion-menu-button>
      <ion-buttons slot="start" size="large" (click)="back()" *ngIf="show==='hallazgo'">
          <ion-icon name="arrow-back" size="large">Regresar</ion-icon>
      </ion-buttons>
      <ion-buttons slot="end">
          <ion-chip>
              <ion-avatar>
                <img src="../../assets/img/avatar.svg">
              </ion-avatar>
              <ion-label>{{usuario}}</ion-label>
            </ion-chip>
          </ion-buttons> 
     
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  
    <ion-fab vertical="center" horizontal="end" slot="fixed" (click)="presentAlertPromptDescription()" *ngIf="show==='lista'">
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
 
      <app-add-info-hallazgo  *ngIf="show==='lista'" (infoEvento)="checarInfoHallazgo($event)"></app-add-info-hallazgo>

  <app-list-hallazgo (id_elemento)=itemHallasgo($event)  *ngIf="show==='lista'" [id_evento]="id_evento" [flag]="flag" [infoEvento]="infoEvento" ></app-list-hallazgo>
  <app-hallazgo-detalle [id_hallazgo]="parentID" *ngIf="show==='hallazgo'" ></app-hallazgo-detalle>
  
</ion-content>
