.new-background-color{
    --background: var(--ion-color-primary) !important;
  }

  .usuario{
    color: white;
  }


  .canvas_whiteboard_button-clear:before{
    content: "modi";
    background: blue;
    background-color: blue;
  }

  .canvas_whiteboard_button-clear{
    content: "modi";
    background: blue;
    background-color: blue;
  }