body{
  padding: 0px;
}
.block{
  float: left;
}
.new-background-color{
  --background: var(--ion-color-primary) !important;
}
.usuario{
  color: white;
}
.background-image{
  padding: 0px;
}

@media all and (max-width: 1000px) and (min-width: 500px) {
  .list{
    width: 80%;
  }
  .aside{
   width:20%;
  }
}
