<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start" size="large" (click)="back()">
            <ion-icon name="arrow-back" size="large">Regresar</ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon slot="icon-only" name="contact"></ion-icon>
            <ion-label class="usuario">{{usuario}}</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
     
    
      <ion-toolbar color="tertiary">
          <ion-buttons slot="end">
            <ion-button (click)="go('hallazgos')">
              Subir
            </ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="go('principal')" >
              Buscar
            </ion-button>
            <ion-button (click)="go('salir')">
                Salir
              </ion-button>
          </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content>
  
  <app-aside-filtro class="block" (boxBusqueda)="showBusqueda($event)" (masRelevanteFilter)="masRelevante($event)"></app-aside-filtro>
  <app-list-items class="block" [busqueda]="busquedaAccion" [relevante]="relevante" [plataformaID]="plataformaID"  [usuario]="usuario" [whoID]="whoID" [whereID]="whereID" (location)="getLocation($event)"></app-list-items>
</ion-content>

