<ion-header>
    
    <ion-toolbar color="tertiary">
      <ion-buttons slot="end">
        <ion-button >
            <ion-icon name="contact"></ion-icon>
            {{usuario}}
          </ion-button>
      </ion-buttons>
      </ion-toolbar>
     
    
      <ion-toolbar color="tertiary">
          
       <h3 style="text-align: center;">Elige una plataforma</h3>
       <ion-buttons slot="end">
          <ion-button (click)="go('salir')">
              Salir
            </ion-button>
        </ion-buttons>
        </ion-toolbar>
</ion-header>

<ion-content padding center text-center class="no-scroll" class="background-image" >
  <style>
   .background-image{
 --background: url(../assets/img/degradado.jpg) 0 0/100% 100% no-repeat;}
  </style>
  <ion-slides [pager]="true" class="spider">
    <ion-slide >
      <img src="../../assets/platforms/gw3.jpg" tappable (click)="openPreview(1)" style="width: 340px">
    </ion-slide>
   
    <ion-slide >
      <img src="../../assets/platforms/5s.jpg" tappable (click)="openPreview(2)" style="width: 350px">
    </ion-slide>

    <ion-slide >
      <img src="../../assets/platforms/bpm.png" tappable (click)="openPreview(3)" style="width: 350px">
    </ion-slide>

    <ion-slide style="margin-top: 10px" >
      <img src="../../assets/platforms/calidad2.png" tappable (click)="openPreview(4)" style="width: 350px">
    </ion-slide>
  </ion-slides>
</ion-content>
