<ion-header>
 
</ion-header>

<ion-content>
  <form *ngIf="accion==1">
      <ion-list>
        <ion-list-header>Completa la información seleccionando el evento y area</ion-list-header>
        <ion-item>
          <ion-label>Evento</ion-label>
          <ion-select  (ionChange)="get_evento($event.target.value)" required>
            <ion-select-option *ngFor="let evento of eventos; let i=index"  [value]="evento" >{{evento.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Area</ion-label>
          <ion-select required (ionChange)="getArea($event.target.value)">
            <ion-select-option *ngFor="let subArea of subAreas" [value]="subArea.subareaID">{{subArea.subarea}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button expand="block" fill="outline" color="success" (click)="submit()">Subir</ion-button>

      </ion-list>
</form>
<div *ngIf="accion==2" >
    <ion-spinner name="crescent" color="primary"></ion-spinner>Subiendo Archivos
</div>

</ion-content>
