<ion-grid class="grid">

  <ion-row>
    <ion-col >
    <strong>Area:</strong>{{hallazgo.area}}
    </ion-col>
    <ion-col >
      <strong>Descripcion:</strong> {{hallazgo.descripcion}}
    </ion-col>
    <ion-col>
      <strong>Implementacion</strong> {{hallazgo.tipo_implementacion}}
    </ion-col>
  </ion-row>
                                                                                                                      
  <ion-row >
    <ion-col>
    <strong> Fecha inicio:</strong> {{hallazgo.fecha_inicio}}
    </ion-col>
    <ion-col >
     <strong> Fecha compromiso:</strong>
    </ion-col>
    <ion-col >
    <strong>Dias:</strong> {{hallazgo.dias}}
    </ion-col>
  </ion-row>

  <ion-row >
    <ion-col >
      <strong>Tipo:</strong>  {{hallazgo.tipo}}
    </ion-col>
    <ion-col >
      <strong> Observador: </strong>{{hallazgo.observador}}
    </ion-col>
    <ion-col>
    </ion-col>
 
  </ion-row>
 
</ion-grid>